section {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 40%;
  color: brown;
  background-color: rgb(253, 253, 201);
  border-radius: 2em;
}
.paddings {
  padding-left: 1em;
  padding-right: 1em;
}
h1 {
  color: brown;
}
div img {
  width: 100%;
  padding-bottom: 2em;
}
