header {
  display: flex;
  justify-content: space-evenly;
  width: 45%;
  background-color: #f7f7bf;
  border-radius: 2em;
  height: 80px;
  align-items: center;
}
#bottoneshop img {
  height: 40px;
}
#bottoneshop {
  display: flex;
  margin-right: 0;
  height: 60px;
}

.button {
  border-radius: 4em;
  background-color: rgb(255, 255, 165);
  border: 1px solid rgb(255, 255, 165);
  height: 40px;
  text-align: center;
  text-decoration: none;
  color: brown;
  align-items: anchor-center;
  display: flex;
  padding-left: 0.5em;
  padding-right: 0.5em;
}
